#hero {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    .hero_box {
        margin: 0 3rem;
        .big-logo {
            min-width: 500px;
            p {
                margin: 0;
                font-size: 2rem;
                position: relative;
                overflow: hidden;
                &:nth-of-type(1) {
                    top: 3rem;
                }
                &:nth-of-type(2) { 
                    top: -4rem;
                    font-size: 1rem;
                    left: 9rem;
                }
                span {
                    transform: translateY(50px);
                    display: inline-block;
                }
            }
            .emmanuel {
                display: flex;
                h1 {
                    margin: 0;
                    font-family: Agrandir;
                    overflow: hidden;
                    transform: translateY(0px);
                    display: inline-block;
                    .span-4 {
                        display: inline-block;
                        transform: translateY(150px);
                        position: relative;
                        font-size: 7rem;
                    }
                }
                div {
                    display: inline-block;
                }
                .span-5 {
                    font-family: Agrandir;
                    position: relative;
                    font-size: 6rem;
                    opacity: 0;
                }
            }
        }
    }
}

.animate-logo {
    p {
        .span-1 {
            animation: slideUp .5s ease ;
            animation-fill-mode: forwards;
        }
        .span-2 {
            animation: slideUp .5s ease .8s;
            animation-fill-mode: forwards;
        }
        .span-3 {
            animation: slideUp .5s ease 2.2s;
            animation-fill-mode: forwards;
        }
    }
    .emmanuel {
        div .span-5 {
            animation: fadeIn .5s ease-in-out 2.5s;
            animation-fill-mode: forwards;
        }
    }
}

@media (min-width: 1368px) {
    .big-logo {
        transform: translate(80px, 0%);
        scale: 1.2;
    }
}

@media (max-width: 530px) {
    .big-logo {
        transform: translate(-80px, 0%);
            scale: 0.8;
    }
}
@media (max-width: 390px) {
    .big-logo {
        transform: translate(-180px, 0%);
            scale: 0.6;
    }
}