#content-degrade {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    z-index: 0;
    overflow-x: hidden;
    position: relative;
    /* degradado por defecto, diagonal de abajo-izq a arriba-der */
    background: linear-gradient(to top right, rgba(0, 16, 33, 0.95) 0%, rgba(14, 26, 57, 0.95) 100%);
    transition: background 0.3s ease;
  }

#content-degrade > section {
    scroll-snap-align: start;
    scroll-behavior: smooth;
}


.img-rotate {
    animation: rotate 180s ease infinite;
}

.img-container-interactive {
    transition: transform 0.1s ease-out;
    will-change: transform;
}

.img-rotate-interactive {
    animation: rotate 180s ease infinite;
}