@font-face {
    font-family: 'Agrandir';
    src: url('../assets/fonts/agrandir/Agrandir-TextBold.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Kollektif';
    src: url('../assets/fonts/kollektif/Kollektif.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}